@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: #ffffff;
    --color-text: #000000;
    --color-icon: #333333;
    --color-border: #e5e5e5;
    --color-placeholder: #404040;
    --color-primary-accent: #660099;
    --color-secondary-accent: #220033;
    --color-CTA-text: #180024;
    --color-bg-secondary: #f5f5f5;
    --color-terminal: #07000d;
    --color-hover: #f2f2f2;
    --color-terminal-placeholder: #999999;
    --color-terminal-text: #e5e5e5;
    --color-border-terminal: #11001a;
    --radius: 0.5rem;
  }

  html[class="dark"] {
    --color-bg-primary: #020003;
    --color-text: #e5e5e5;
    --color-icon: #cccccc;
    --color-border: #11001a;
    --color-placeholder: #999999;
    --color-primary-accent: #d795f8;
    --color-secondary-accent: #220033;
    --color-CTA-text: #180024;
    --color-bg-secondary: #f5f5f5;
    --color-hover: #0d0d0d;
  }
}